<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.ac.fst.ahniche_amine.guideuniversitaire">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityAuthentification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityNvCompte" />
        <activity
            android:name=".ActivityAccueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityNvUniv" />
        <activity android:name=".ActivityNvInst" />
        <activity android:name=".ActivityNvForm" />
        <activity android:name=".ActivityUniv" />
        <activity android:name=".ActivityInst" />
        <activity android:name=".ActivityForm" />
        <activity android:name=".Display_Univ" />
        <activity android:name=".Display_Inst" />
        <activity android:name=".Display_Form" />
        <activity android:name=".ActivityProfil"></activity>
    </application>

</manifest>